// ==========================================================================
//
// Colour
//
//

$type-colour: #3A3A3A;

$link-colour: #005EA5;
$border-colour: #BFC1C3;
$button-colour: #00823B;
$focus-colour: #FFBF47;
$secondary-type-colour: #6F777B;
$link-hover-colour: #2E8ACA;
$panel-colour: #DEE0E2;
$page-colour: #FFFFFF;
$link-visited-colour: #4C2C92;

$colour-background: #F1F1F1;


$colour-three: #407CC9;
$colour-four: #FFAA4B;
$colour-five: #F54B7F;
$colour-six: #01BBB3;
$colour-seven: #3FD4AE;

$colour-lines: rgba(30, 49, 100, 0.1);

$colour-type: #3A3A3A;
$colour-type-light: #9898A5;
$colour_background: #F6F6F6;
$colour_background_dark: #EDEDED;
$colour-tint: rgba(30, 49, 100, 0.03);
$colour-darken: rgba(30, 49, 100, 0.8);
$colour-lighten: rgba(255, 255, 255, 0.7);

$colour-one: #069CD9;
$colour_one_translucent: rgba(6, 156, 217, 0.9);
$colour-two: #FF5B34;
$colour-three: #0062AA;
$colour-four: #00D95A;
