// ==========================================================================
//
// Colour
//
//

$colourLines: rgba(30, 49, 100, 0.1);
$colourBackground: #F6F6F6;
$colourBackgroundDark: #EDEDED;

$colourType: #404040;
$colourTypeLight: #A3A3A3;

$colourOne: #069CD9;
$colourOneTranslucent: rgba(6, 156, 217, 0.9);
$colourTwo: #FF5B34;
$colourThree: #0062AA;
$colourFour: #00D95A;

$colourTint: rgba(30, 49, 100, 0.03);
$colourDarken: rgba(30, 49, 100, 0.8);
$colourLighten: rgba(255, 255, 255, 0.7);
