// ==========================================================================
//
// Forms
//
//

::-webkit-input-placeholder {
	color: #fff;
	font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.7);
   font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
   font-weight: 300;
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.7);
   font-weight: 300;
}

.form-bottom {
	margin-top: 20px;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	border-top: 1px solid $colour_lines;
}

.form-top {
	padding: 0 15px;
	display: block;
	height: auto;
}

fieldset {
	border: none;
	padding: 0px 0 0px 0;
}

label, input, textarea {
	box-sizing: border-box;
}

label {
	padding: 15px 0px;
	font-size: 12px;
	text-transform: uppercase;
	color: $colour_type_light;
	letter-spacing: 1px;
	display: block;
	font-family: $main-font-light;
}

input {
	@include border-radius(0px);
	padding: 8px 15px;
	 -webkit-appearance: none;
	font-size: 14px;
	font-family: $main-font-light;
	color: $colour_type_light;
	width: 100%;
	border: 1px solid $colour-lines;
}

input:focus {
	outline: 0;
}

input[type="submit"] {
	background: $colour-one;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 8px 10px 6px 10px;
	box-shadow: 2px 2px 5px $colour_tint;
	color: #fff;
	cursor: pointer;
	width: 100px;
	float: right;

	&:hover {
		opacity: 0.8;
	}
}

form.form-search {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 17px;
	position: relative;

	i.material-icons {
		color: #fff;
		position: absolute;
		z-index: 5;
		top: 10px;
		left: 0;
	}
}

input[type="search"] {
	background: $colour-one;
	font-size: 20px;
	border: 0;
	box-sizing: border-box;
	padding: 5px 30px 5px 40px;
	height: 40px;
	color: #fff;
	cursor: pointer;
	width: 100%;
	float: right;
	position: relative;
}

input[type='checkbox'] {
	float: left;
	margin-top: 10px;
	display: block;
	width: 20px;
	height: 20px;
	-webkit-appearance:checkbox;
}

label[for='logged_in'] {
	float: left;
	padding: 5px 0 0 5px;
	width: 100px;
	display: block;
}

textarea {

}
