// ==========================================================================
//
// Forms
//
//

::-webkit-input-placeholder {
	color: $colourTypeLight;
	font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: $colourTypeLight;
   font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $colourTypeLight;
   font-weight: 300;
}

:-ms-input-placeholder {
   color: $colourTypeLight;
   font-weight: 300;
}

.form-bottom {
	margin-top: 20px;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	border-top: 1px solid $colourLines;
}

.form-top {
	padding: 0 15px;
	display: block;
	height: auto;
}

.form-radio-button {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: top top;
	padding: 0;
	margin-left: 0;
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 15px;
	display: block;
	background: url('img/empty-checkbox.svg');

	.form-radio-button-active & {
		background: url('img/checked.svg');
	}
}



fieldset {
	border: none;
	padding: 0px 0 0px 0;
}

fieldset.form-half {
	float: left;
	@include calc(width, "50% - 11px");

	&:nth-child(even) {
		margin-left: 15px;
	}

	@include mq("super-small", "max-width") {
    	width: 100%;

	    &:nth-child(even) {
			margin-left: 0;
		}
  	}
}

label, input, textarea {
	box-sizing: border-box;
}

form {
	span {
    color: #FF5B34;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding: 15px 0 5px 0;
  }
}

label {
	padding: 15px 0px;
	font-size: 12px;
	text-transform: uppercase;
	color: #4D4D4D;
	letter-spacing: 1px;
	display: block;
	font-family: $mainFontLight;
}

input {
	@include border-radius(0px);
	padding: 12px 15px;
	 -webkit-appearance: none;
	font-size: 14px;
	font-family: $mainFontLight;
	color: #4D4D4D;
	width: 100%;
	border: 1px solid $colourLines;

	@include mq("small", "max-width") {
    	padding: 10px 15px;
    	@include border-radius(5px);
  	}

}

textarea {
	@include border-radius(0px);
	padding: 8px 15px;
	 -webkit-appearance: none;
	font-size: 14px;
	font-family: $mainFontLight;
	color: $colourTypeLight;
	width: 100%;
	border: 1px solid $colourLines;
}

input:focus, textarea:focus {
	outline: 0;
}

input[type="submit"] {
	border: 0;
	background: $colourOne;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 10px 10px 8px 10px;
	color: #fff;
	cursor: pointer;
	width: 100px;
	float: right;

	@include mq("small", "max-width") {
	  padding: 15px;
      width: 100%;
      @include border-radius(0px);
  }
}

form.form-search {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 14px;
	margin-bottom: 3px;
	position: relative;

	i.material-icons {
		color: $colourTypeLight;
		position: absolute;
		z-index: 5;
		top: 7px;
		left: 0;
	}
}

form.form-register {
	padding: 15px;
}

input[type="search"] {
	background: none;
	font-size: 1.2em;
	border: 0;
	box-sizing: border-box;
	padding: 5px 30px 5px 30px;
	height: 40px;
	color: $colourType;
	cursor: pointer;
	width: 100%;
	float: right;
	position: relative;
}

input[type='checkbox'] {
	float: left;
	margin-top: 10px;
	display: block;
	width: 20px;
	height: 20px;
	-webkit-appearance:checkbox;
}

label[for='logged_in'] {
	float: left;
	padding: 5px 0 0 5px;
	width: 100px;
	display: block;

	@include mq("small", "max-width") {
		display: inline;
		width: auto;
		margin-left: 5px;
		margin-top: 8px;
	}	
}

input.form-address {
	border-bottom: 0;
	margin: 0;

	&:first-child {
		border-top: 1px solid $colourLines;
	}

	&:last-child {
		border-bottom: 1px solid $colourLines;
	}
}