// ==========================================================================
//
// Layout
//
//

.layout-container {
  display: block;
  margin: 0 auto;
  @include calc(width, "100% - 48px");
}

.layout-side-bar {
  top: 33px;
  position: fixed;
  @include calc(height, "100vh - 33px");
  overflow: hidden;
  width: 20%;
  @include transform(translateX(-100%));
  background: $colour_background_dark;
  @include transition(all, 0.3s, ease-in-out);

  .sidebar-trigger-active & {
    @include transform(translateX(0));
  }

  .js-trigger-exit-sidebar {
    padding-top: 20px;
    display: block;
  }

  @include mq("medium", "max-width") {
    width: 40%;
  }

  @include mq("small", "max-width") {
    width: 70%;
  }

  @include mq("super-small", "max-width") {
    width: 100%;
  }
}

.layout-main-content {
  top: 33px;
  position: absolute;
  right: 0;
  width: 100%;
  float: right;
  height: 50px;
  @include transition(all, 0.3s, ease-in-out);

  .sidebar-trigger-active & {
    width: 80%;
  }

  @include mq("super-small", "max-width") {
    
    .sidebar-trigger-active & {
      width: 0%;
    }
    
  }

}

.layout-span-one {

}

.layout-span-two {

}

.layout-span-three {

}

.layout-span-four {

}

.layout-span-five {

}

.layout-span-six {

}

.layout-shift-one {
}

.layout-shift-two {
}

.layout-shift-three {

}

.layout-shift-four {

}

.layout-shift-five {
}

.layout-shift-six {

}
