// ==========================================================================
//
// Links
//
//

a {
	@include transition(all, 0.3s, ease-in-out);
	text-decoration: none;
	color: $colour_one;
	cursor: pointer;
}

.link-block {
	display: block;
}

.link-superscript {
	font-family: $main_font_light;
	color: $colour_one;
	font-size: 12px;
	font-weight: 300;
}

.link-icon-dark {
	color: $colour_darken;
	display: block;
}

.link-icon-white {
	color: #fff;
	width: 50px;
	font-family: $main_font_light;
	display: block;
}

.link-icon-type {
	color: $colour_type;
}

.link-icon-center-bottom {
	bottom: 15px;
	left: 50%;
	margin-left: -16px;
	position: absolute;
}

.link-icon-one {
	color: $colour_one;
}

.link-style-one {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 24px;
	height: auto;
	overflow: auto;
	border-bottom: 1px solid $colour_lines;

	.element-initial-avatar {
		float: left;
	}

	h5.type-style-one {
		float: left;
		margin-top: 3px;
	}

	i.material-icons {
		float: right;
		margin-top: 5px;
	}

	&:hover {
		background: $colour_tint;
	}
}

.link-style-two {
	color: $colour_lighten;
	font-size: 14px;
	font-family: $main_font_light;
}

.link-style-three {
	font-size: 14px;
	color: $colour-type-light;
	padding: 8px 0 0 0;

	i {
		padding-right: 0;
	}
}

.link-style-four {
	font-size: 15px;
	color: $colour_type_light;

	&:hover {
		color: $colour_one;
	}
}

.link-style-five {
	font-size: 12px;
	color: $colour_one;
	text-transform: uppercase;
	font-family: $main-font-light;
	letter-spacing: 1px;
	width: 100%;

	i {
		margin-top: -1px;
		font-size: 17px;
		padding-right: 0;
	}
}

.link-style-white {
	color: #fff;
	font-family: $main-font-light;
	padding-top: 5px;
	display: block;
}

.link-sub-navigation {
	width: 33.3%;
	display: block;
	float: left;
	border-right: 1px solid $colour_lines;
	padding: 10px;
	box-sizing: border-box;

	.material-icons {
		width: 100%;
		text-align: center;
		font-size: 20px;
		margin-bottom: 10px;
		clear: both;
		display: block;
		margin: 0 auto;
		color: $colour_type;
	}

	span {
		color: $colour_type;
		text-align: center;
		width: 100%;
		display: block;
		clear: both;
		font-size: 16px;
		padding-top: 3px;
	}

	&.link-sub-navigation-active {
		background: $colour_type;

		span {
			color: #fff;
		}

		.material-icons {
			color: #fff;
		}
	}

	&:last-child {
		border-right: 0;
	}
}

.link-button-one {
	display: block;
	@include border-radius(2px);
	width: 100%;
	border: 1px solid $colour_one;
	box-sizing: border-box;
	padding: 8px 0;
	text-align: center;
	color: $colour_one;
	font-family: $main-font-light;
}

.link-dd-one {
	width: 150px;
	float: left;
	position: relative;
	padding-top: 5px;

	.link-dd-selected {
		cursor: pointer;
	}

	.link-dd-items {
		padding: 0;
		width: 100%;
		display: none;
	}
}
