// ==========================================================================
//
// Links
//
//

a {
	@include transition(all, 0.3s, ease-in-out);
	text-decoration: none;
	color: $colourOne;
	cursor: pointer;
}

.material-icons {
	position: relative;
}

.link-block {
	display: block;
}

.link-superscript {
	font-family: $mainFontLight;
	color: $colourOne;
	font-size: 12px;
	font-weight: 300;
}

.link-icon-dark {
	color: $colourDarken;
	display: block;
}

.link-icon-white {
	color: #fff;
	width: 50px;
	font-family: $mainFontLight;
	display: block;
}

.link-icon-type {
	color: $colourType;
}

.link-icon-center-bottom {
	bottom: 15px;
	left: 50%;
	margin-left: -16px;
	position: absolute;
}

.link-icon-one {
	color: $colourOne;
}

.link-style-one {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 24px;
	height: auto;
	overflow: auto;
	border-bottom: 1px solid $colourLines;

	.element-initial-avatar {
		float: left;
	}

	h5.type-style-one {
		float: left;
		margin-top: 3px;
	}

	i.material-icons {
		float: right;
		margin-top: 5px;
	}

	&:hover {
		background: $colourTint;
	}
}

.link-style-two {
	color: $colourLighten;
	font-size: 14px;
	font-family: $mainFontLight;
}

.link-style-three {
	font-size: 14px;
	color: $colourTypeLight;
	padding: 9px 0 0 0;

	i {
		padding-top: -10px;
		display: block;
		float: left;
		padding-right: 0;
	}
}

.link-style-four {
	font-size: 15px;
	color: $colourTypeLight;

	&:hover {
		color: $colourOne;
	}
}

.link-style-five {
	font-size: 12px;
	color: $colourOne;
	text-transform: uppercase;
	font-family: $mainFontLight;
	letter-spacing: 1px;
	width: 100%;

	i {
		margin-top: -1px;
		font-size: 17px;
		padding-right: 0;
	}
}

.link-style-six {
	box-sizing: border-box;
	padding: 33px 27% 12px 27%;
	margin: 0;
	display: block;
	height: auto;
	overflow: auto;
	color: $colourTypeLight;

	span {
		color: $colourTypeLight;
		float: right;
		vertical-align: 5px;
		display: inline-block;
	}

	.material-icons {
		padding-top: -5px;
		vertical-align: -5px;
		display: inline-block;
	}
}

.link-style-white {
	color: #fff;
	font-family: $mainFontLight;
	padding-top: 5px;
	display: block;
}

.link-sub-navigation {
	width: 33.3%;
	display: block;
	float: left;
	border-right: 1px solid $colourLines;
	padding: 10px;
	box-sizing: border-box;

	.material-icons {
		width: 100%;
		text-align: center;
		font-size: 20px;
		margin-bottom: 10px;
		clear: both;
		display: block;
		margin: 0 auto;
		color: $colourType;
	}

	span {
		color: $colourType;
		text-align: center;
		width: 100%;
		display: block;
		clear: both;
		font-size: 16px;
		padding-top: 3px;
	}

	&.link-sub-navigation-active {
		background: $colourType;

		span {
			color: #fff;
		}

		.material-icons {
			color: #fff;
		}
	}

	&:last-child {
		border-right: 0;
	}
}

.link-button-one {
	display: block;
	@include border-radius(2px);
	width: 100%;
	border: 1px solid $colourOne;
	box-sizing: border-box;
	padding: 8px 0;
	text-align: center;
	color: $colourOne;
	font-family: $mainFontLight;
}

.link-button-two {
	border: 1px solid $colourOne;
	@include border-radius(2px);
	padding: 5px 10px;
	font-size: 12px;
	font-family: $mainFontLight;
	vertical-align: 8px;
}

.link-arrow-bottom-active:after {
	content: "";
	display: none;
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #1976D2;
	top: 37px;

	.js-notification-active & {
		display: block;
	}
}

.link-dd-one {
	width: 150px;
	float: left;
	position: relative;
	padding-top: 5px;

	.link-dd-selected {
		cursor: pointer;
	}

	.link-dd-items {
		padding: 0;
		width: 100%;
		display: none;
	}
}
