// ==========================================================================
//
// Lists
//
//

li {
  padding: 3px 0;
  list-style-type: none;
  font-family: $mainFontLight;
}

ul.list-style-one {
  padding: 0;
  margin: 20px 0;

  li {
    padding: 10px 0;
    opacity: 0;

    .sidebar-trigger-active & {
        @for $i from 1 through 8 {
        // Apply animation using :nth-child pseudoclass
        &:nth-child(#{$i}) {
          // Include the animation mixin, together with
          // a delay parameter.
          @include animation--fadedown($i/10);
        }
      }
    }
  }
}

ul.list-style-two {
  padding: 15px;
  margin-top: 40px;

  .list-section-head {
    border-top: 1px solid $colourLines;
    margin-top: 30px;
  }

  li {
    padding: 30px 0;
    display: block;

    .list-gutter-column {
      width: 40px;
      height: 40px;
      float: left;
      display: block;
      clear: left;

      .material-icons {
        margin-top: 7px;
        color: $colourTypeLight;
      }

      h3 {
        margin-top: 3px;
        font-size: 18px;
        padding-left: 5px;
        display: block;
        color: $colourTypeLight;
      }
    }

    .list-central-column {
      float: left;
      @include calc(width, "100% - 50px");
    }

    .list-central-column h4 {
      float: left;
      padding: 5px 0;
      width: 150px;
      font-family: $mainFontLight;
    }

    .list-central-column span {
      display: none;
      float: right;
      width: 100px;
      font-size: 12px;
      text-align: right;
      color: $colourTypeLight;
      padding: 10px 0;
    }
  }
}

ul.list-style-three {
  padding: 0;
  margin: 0;

  li.list-three-item {
    padding: 22px 26px 16px 26px;
    height: auto;
    overflow: auto;
    border-bottom: $lines;
    cursor: pointer;

    h5 {
      float: left;
      color: $colourType;
      margin: 0;
      font-size: 15px;
      padding: 0;
      font-family: $mainFontLight;
    }

    i {
      float: right;
      display: block;
      color: $colourOne;
    }
  }
}

ul.list-style-four {
  padding: 22px 26px 16px 26px;
  margin: 0;

  li {
    @include calc(width, "50% - 12px");
    float: left;
    height: 50px;
    cursor: pointer;

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  .form-radio-button {
    display: block;
    float: left;
  }

  .type-style-one {
    float: left;
    display: block;
    @include calc(width, "100% - 35px");
  }

}

.list-large-content {
  width: 100%;
  border-top: $lines;
  border-bottom: $lines;
}

.active-border{
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color:#39B4CC;
    background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

ul.list-style-five {
  @include calc(width, "100% - 26px");
  padding: 0;
  margin: 0 0 0 26px;
  box-sizing: border-box;

  li {
    padding: 0;
    margin: 0;
    height: auto;
    overflow: auto;

    .element-initial-avatar {
      margin-top: 22px;
      margin-right: 22px;
      width: 40px;
      height: 40px;

      h3 {
        font-size: 15px;
      }
    }

    .list-large-style-five {
      float: left;
      @include calc(width, "100% - 65px");
      padding: 15px 0 10px 0;
      height: auto;
      overflow: auto;
      border-top: $lines;
    }

    h3.list-title {
      font-size: 16px;
      padding-bottom: 5px;
    }

    span {
      font-size: 16px;
      padding-bottom: 5px;
      display: block;
      color: $colourType;

      a {
        font-size: 16px;
        color: $colourType;
      }
    }

    .list-large-column {
      width: 33.3%;
      float: left;
    }
  }

  &:last-child {
    
    .list-large-style-five {

      border-bottom: $lines;

    }
  }
}

ul.list-style-six {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  li {
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 20px 15px;
    border-bottom: 1px solid darken($colourOneMed, 4%);
    position: relative;

    &:hover {
      background: darken($colourOneMed, 4%);
    }

    i.material-icons {
      color: #fff;
    }

    span {
      width: 100%;
      color: #fff;
    }
  }

  a:last-child li{
    padding: 10px 15px 10px 15px;
    border-bottom: 0;
  }
}




