// ==========================================================================
//
// Tables
//
//

table {
  @include calc(width, "100% - 87px");
  float: right;
  font-size: 0.889em;
  color: $colourType;
  border: none 0;
  border-collapse: collapse;

  thead {
    width: 100%;
    border-bottom: $lines;

    tr:before {
      content: "";
      background: none;
    }

    tr td {
      font-family: $mainFont;
      padding: 0 0 10px 0;
    }

    th {
      font-weight: 300;
      font-family: $mainFont;
      text-align: left;
      padding: 22px 0;
    }

    th:first-child {
      width: 40%;
    }

    &:before {
      display: none;
    }

    @include mq("small", "max-width") {
      display: none;
    }
  }

  tr {
    position: relative;
    width: 100%;
    border-bottom: $lines;

    td {
      padding: 25px 0;
      font-family: $mainFontLight;
    }

    td:first-child {
      width: 40%;
    }

    &:before {
      width: 40px;
      margin-top: 15px;
      height: 40px; 
      content: "AB";
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      padding: 11px 0 0 0;
      font-family: $mainFontLight;
      @include border-radius(100%);
      background: darken($colourBackgroundDark, 15%);
      display: block;
      margin-left: -64px;
      float: left;
    }
  }


  @include mq("small", "max-width") {
    @include calc(width, "100% - 84px");

    tr {
      display: block;
      padding: 0;
      float: left;
      padding: 18px 0 13px 0;
    }

    tr td {
      display: block;
      padding: 0 0 5px 0;
    }

    tr td:first-child {
      width: 100%;
      font-family: $mainFont;
      font-size: 1.266em;
    }

    tr td:last-child {
      display: none;
    }
    
    tr:first-child {
      border-top: $lines;
    }

    tr:before {
      margin-left: -60px;
      margin-top: 5px;
    }
  }
}

.table-style-two {
  padding: 0;
  font-size: 14px;
  margin: 0;
  width: 100%;

  th {
    padding: 15px 30px 15px 0;
    box-sizing: border-box;
    width: 50%;
  }

  td {
    padding: 15px 30px 15px 0;
    box-sizing: border-box;
    width: 50%;
    text-align: left;
  }

  th:first-child, td:first-child {
    width: 50%;
    font-family: $mainFont;
  }

  th:last-child, td:last-child {
    width: 50%;
    font-family: $mainFont;
  }
}

tr.js-table-row-link {
  cursor: pointer;
}

