// ==========================================================================
//
// Tables
//
//

table {
  @include calc(width, "100% - 53px");
  float: right;
  font-size: 13px;
  color: $colour_type;
  border: none 0;
  border-collapse: collapse;

  thead {
    width: 100%;

    th {
      font-weight: 300;
      font-family: $main_font;
      text-align: left;
      padding: 22px 0;
    }

    th:first-child {
      width: 30%;
    }
  }

  tr {
    border-bottom: 1px solid $colour_lines;

    td {
      padding: 25px 0;
      font-family: $main_font_light;
    }

    td:first-child {
      width: 30%;
    }
  }
}

.table-style-two {
  padding: 0;
  font-size: 14px;
  margin: 0;
  width: 100%;

  th {
    padding: 15px 30px 15px 0;
    box-sizing: border-box;
    width: 50%;
  }

  td {
    padding: 15px 30px 15px 0;
    box-sizing: border-box;
    width: 50%;
  }

  th:first-child, td:first-child {
    width: 50%;
    font-family: $main_font;
  }

  th:last-child, td:last-child {
    width: 50%;
    font-family: $main_font;
  }

}

