// ==========================================================================
//
// Typography
//
//


html {
  font-size: 1em;
}

$mainFont: "TransportNewMedium", sans-serif, 400;
$mainFontLight: "TransportNewLight", sans-serif, 300;
$mainFontHeavy: "TransportNewHeavy", sans-serif, 500;

h1, h2, h3, h4, h5, h6, span {
  font-family: $mainFont;
  font-weight: 300;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-weight: normal;
  position: relative;
  color: $colourType;
}

h1 {
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

h5, p {
  font-size: 1em;
}

p {
  font-family: $mainFontLight;
  line-height: 1.45;

  &.type-bold {
    font-family: $mainFont;
  }

  &.type-heavy {
    font-family: $mainFontHeavy;
  }
}

span {
  font-family: $mainFontLight;
  line-height: 1.45;
  font-size: 0.889em;

  &.type-bold {
    font-family: $mainFont;
  }

  &.type-heavy {
    font-family: $mainFontHeavy;
  }
}

.type-light {
  font-family: $mainFontLight;
}

.type-colour-grey {
  color: $colourTypeLight;
}

.type-colour-one {
  color: $colourOne;
}

.hidden {
  display: none;
}

// ==========================================================================
//
// Typography
//
//

/**
 * @license
 * MyFonts Webfont Build ID 3048796, 2015-06-25T09:06:16-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: TransportNewHeavy-Italic by K-Type
 * URL: http://www.myfonts.com/fonts/k-type/transport-new/heavy-italic/
 * Copyright: Transport New Heavy Italic (version 3.0)   &#x2022;    K-Type's redrawing
 * of the UK Transport font originally designed for British road signs by Jock Kinneir
 * and Margaret Calvert, and first published on the Preston bypass in 1958.
 * Licensed pageviews: 10,000
 *
 * Webfont: TransportNewHeavy by K-Type
 * URL: http://www.myfonts.com/fonts/k-type/transport-new/heavy/
 * Copyright: Transport New Heavy (version 3.0)   &#x2022;    K-Type's redrawing of the
 * UK Transport font originally designed for British road signs by Jock Kinneir and
 * Margaret Calvert, and first published on the Preston bypass in 1958.
 * Licensed pageviews: 10,000
 *
 * Webfont: TransportNewLight-Italic by K-Type
 * URL: http://www.myfonts.com/fonts/k-type/transport-new/light-italic/
 * Copyright: Transport New Light Italic (version 3.0)   &#x2022;    K-Type's redrawing
 * of the UK Transport font originally designed for British road signs by Jock Kinneir
 * and Margaret Calvert, and first published on the Preston bypass in 1958.
 * Licensed pageviews: 20,000
 *
 * Webfont: TransportNewMedium-Italic by K-Type
 * URL: http://www.myfonts.com/fonts/k-type/transport-new/medium-italic/
 * Copyright: Transport New Medium Italic (version 3.0)   &#x2022;    K-Type's redrawing
 * of the UK Transport font originally designed for British road signs by Jock Kinneir
 * and Margaret Calvert, and first published on the Preston bypass in 1958.
 * Licensed pageviews: 10,000
 *
 * Webfont: TransportNewMedium by K-Type
 * URL: http://www.myfonts.com/fonts/k-type/transport-new/medium/
 * Copyright: Transport New Medium (version 3.0)   &#x2022;    K-Type's redrawing of the
 * UK Transport font originally designed for British road signs by Jock Kinneir and
 * Margaret Calvert, and first published on the Preston bypass in 1958.
 * Licensed pageviews: 10,000
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3048796
 *
 * © 2015 MyFonts Inc


$main_font: "TransportNewMedium", sans-serif, 400;
$main_font_light: "TransportNewLight", sans-serif, 300;
$main_font_heavy: "TransportNewHeavy", sans-serif, 500;

h1, h2, h3, h4, h5, h6 {
  font-family: $main_font;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-weight: normal;
  position: relative;
  color: $colour-type;
}

h1 {
    font-family: $main_font;
    font-size: 48px;
    line-height: 1.5em;

    &.type-style-heading {
      color: #fff;
      font-size: 26px;
    }
}

h2 {
    font-family: $main_font;
    color: $colour-type;
    font-size: 20px;
    line-height: 1.5em;
}

h3 {
    font-family: $main_font;
    font-size: 16px;
    line-height: 1.5em;

    &.type-style-one {
      color: $colour_one;
      font-family: $main_font_light;
      font-size: 24px;
      line-height: 1.3em;
    }

    &.type-initial {
      font-size: 11px;
      text-align: center;
      vertical-align: center;
      text-align: center;
      padding: 10px 0;
      color: #fff;
    }
}

h4 {
  font-family: $main_font;
  font-size: 19px;
  line-height: 1.5em;

  &.type-style-one {
    font-weight: 300;
    color: $colour_type;
    font-family: $main_font_light;
    font-size: 16px;
  }
}

h5 {
    font-family: $main_font;
    font-size: 19px;
    line-height: 1.5em;

    &.type-style-one {
      color: $colour_type;
      font-family: $main_font_light;
      font-size: 14px;
      padding-top: 4px;
      display: block;
    }
}

.type-half {
  width: 50%;
  float: left;
}

p {
  font-weight: 300;
  font-family: $main_font_light;
  font-size: 18px;
  line-height: 1.5em;
  color: $colour_type;

  a {
    @include transition(all, 0.4s, ease-in-out);
    color: $link-colour;

    &:hover {

    }
  }

  &.type-supporting {
    font-size: 16px;
  }

  &.type-superscript {
    color: $colour-type-light;
    font-size: 13px;
  }

  &.type-fill-one {
    width: 70px;
    float: left;
    height: 33px;
    box-sizing: border-box;
    display:  table-cell;
    vertical-align: middle;
    text-align: center;
    background: $colour-one;
    color: #fff;
    font-size: 12px;
    padding: 8px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}

span {
  font-family: $main_font_light;

  &.type-style-one {
    color: $colour_type_light;
    font-size: 14px;
    float: left;
    display: block;

    @include mq("small", "max-width") {
      font-size: 15px;
    }
  }

  &.type-super-small {
    font-size: 11px;
    display: block;
    padding: 20px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $main_font_light;
    color: $colour_two;
  }
}

i {
  display: inline;
  padding-right: 12px;
  vertical-align: middle;
}

*/
