// ==========================================================================
//
// Variables
//
//

$boxShadowOne:  0px 0px 1px $colourTypeLight;
$boxShadowTwo:  0px 0px 1px lighten($colourTypeLight, 10%);

$clearDevelopmentBar: 33px;

$lines: 1px solid $colourLines;