// ==========================================================================
//
// Zzzz
//
//

.element-login-form {
  z-index: 8;
}

.element-login-smile {
  z-index: 10;
}

.element-login-line {
  z-index: 1;
}

.article-top-message {
  z-index: 10;
}

.header-type-one {
  z-index: 8;
}

.article-search {
  z-index: 1;

  .search-active & {
    z-index: 5;
  }
}

.article-notification-box {
  z-index: 99;
}

.header-type-two {
  z-index: 100;
}

.article-body {
  z-index: 1;
}

.article-sidebar {
  z-index:10;
}

.article-colour-fill {
  z-index: 1;

  .sidebar-trigger-active & {
    z-index: 100;
  }
}
