// ==========================================================================
//
// Articles
//
//

.article-top-message {
  width: 100%;
  height: 33px;
  background: #fff;
  position: fixed;

  p {
      margin: 0;
      width: 70px;
      float: left;
      height: 33px;
      box-sizing: border-box;
      display:  table-cell;
      vertical-align: middle;
      text-align: center;
      background: $colourOne;
      color: #fff;
      font-size: 12px;
      padding: 8px 0 0 0;
      text-transform: uppercase;
      letter-spacing: 1px;
  }

  span {
    @include calc(width, "50% - 0px");
    padding: 7px 15px;
    float: left;
    display: block;
    color: $colourTypeLight;
  }

  .link-superscript {
    float: right;
    padding: 9px 24px;
  }

  @include mq("extra-small", "max-width") {

    .type-superscript {
      display: none;
    }
  }
}

.article-colour-fill {
  @include transition(all, 0.3s, ease-in-out);
  width: 100%;
  @include calc(height, "100vh - 33px");
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  .sidebar-trigger-active & {
    background: $colourOneTranslucent;
  }
}

.article-help {
  top: 33px;
  background: $colourOneTranslucent;
}

.article-body {
  box-sizing: border-box;
  background: $colourBackground;
  height: auto;
  overflow: auto;
  width: 100%;
  padding: 20px;

  @include mq("small", "max-width") {
  margin-top: 65px;
  padding: 0;
  overflow: hidden;
  }
}

.article-search {
  position: fixed;
  background: #fff;
  border-bottom: $lines;
  width: 100%;
  margin-top: 99px;
  padding: 0 0 8px 0;
  height: auto;
  overflow: auto;
}

.article-key-information {
  background: $colourOne;
  width: 100%;
  padding: 20px 0;
  height: auto;
  overflow: auto;

  span.type-style-one {
    width: 50%;
    color: #fff;
  }
}

.article-sub-navigation {
  background: $colourBackgroundDark;
  width: 100%;
  display: block;
  height: auto;
  overflow: auto;
  border-bottom: 1px solid $colourLines;
}

.article-long-list, .article-content-box-one {
  margin-top: 50px;
}

.article-long-list {
  @include transition(all, 0.3s, ease-in-out);
  position: relative;
  width: 28%;
  float: left;
  padding-top: 10px;

  .sidebar-trigger-active & {
    opacity: 0;
  }
}

.article-content-box-one {
  top: 20px;
  @include border-radius(1px);
  width: 45%;
  height: auto;
  overflow: auto;
  position: fixed;
  left: 28%;
  background: #fff;
  box-shadow: $boxShadowOne;
}

.article-section-content {
  margin-top: 50px;

  .search-active & {
    margin-top: 120px;
  }
}

.article-left-pane {
  overflow: hidden;
  position: fixed;
  border-right: $lines;
  top: $clearDevelopmentBar;
  width: 400px;
  background: #fff;
  float: left;
  margin-top: 69px;
  @include calc(height, "100vh - 93px");
}

.article-main-content {
  @include calc(width, "100% - 400px");
  @include calc(height, "100vh - 33px");
  float: right;
}

.article-tags {
  width: 100%;
  margin-top: 165px;
  padding: 15px 0 0 0;
}