// ==========================================================================
//
// Elements
//
//

.element-login-form {
  margin: auto;
  display: block;
  margin-top: -62px;
  overflow: auto;
  width: 350px;
  margin-top: 115px;
  height: 450px;
  background: #fff;
  position: relative;
  box-shadow: 0px 0px 1px $colourDarken;

  .element-login-line {
    position: absolute;
    top: 61px;
    width: 100%;
    height: 1px;
    background: $colourLines;
  }

  .element-login-smile {
    position: relative;
    width: 61px;
    height: 61px;
    background: $colourOne;
    margin: 0 auto;
    display: block;
    margin-top: 31px;
    @include border-radius(100%);
  }

  @include mq("super-small", "max-width") {
    width: 100%;
    padding-top: 15px;
    margin-top: 65px;
    position: fixed;
    height: 100vh;

    .element-login-line, .element-login-smile {
      display: none;
    }
  }
}

.element-profile-name {
  height: 35px;
  background: $colourTint;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid $colourLines;
  cursor: pointer;

  & h4.type-style-one {
    padding-top: 7px;
    width: 100px;
    display: block;
    float: left;
  }

  & i.material-icons {
    width: 20px;
    padding-top: 10px;
    color: $colourTypeLight;
    float: right;
  }
}

.element-calendar-link {
  display: block;
  width: 100%;
  height: 108px;
  padding: 24px 0;
  background: $colourTint;
  border-bottom: 1px solid $colourLines;

  h5.type-style-one {
    margin-top: 24px;
  }
}

.element-bottom-links {

}

.element-initial-avatar {
  width: 33px;
  margin-right: 14px;
  height: 33px;
  background: $colourOne;
  float: left;
  @include border-radius(100%);
}

.element-bottom-links {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0 0 0 30px;
  padding-bottom: 24px;
}

.element-top-options-left {
  padding: 0;
  margin: 0;
  float: left;
}

.element-top-options-right {
  padding: 0;
  margin: 0;
  float: right;

  li {
    float: left;
    margin-left: 20px;
    width: 20px;
  }
}

.element-section-item {
  width: 100%;
  border-bottom: 1px solid $colourLines;
  padding: 15px 0px;
  height: auto;
  overflow: auto;
  display: block;

  span.type-style-one {
    width: 50%;
  }

  span.type-style-one:nth-child(4) {
    width: 100%;
  }

  .md-18 {
    font-size: 16px;
  }

  h3 {
    clear: both;
    padding: 10px 0;
    color: $colourType;
    font-size: 20px;
  }

  &:hover {
    background: $colourBackgroundDark;
  }
}

.element-long-list-header {
  border-bottom: 1px solid $colourLines;
  width: 29%;
  box-sizing: border-box;
  padding: 0px 15px 15px 15px;
  position: fixed;

  .link-dd-one {
    margin-left: 20px;
  }
}

.element-content-box-top {
  background: $colourOne;
  padding: 15px 0;

  h2 {
    padding-top: 150px;
    color: #fff;
    font-size: 24px;
  }

  p {
    display: none;
    width: 100%;
    color: #fff;
  }
}

.element-content-box-two {
  width: 45%;
  max-width: 575px;
  overflow: auto;
  height: auto;
  background: #fff;
  display: block; 
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  box-shadow: 0px 0px 2px $colourTypeLight;

  @include mq("medium", "max-width") {
    width: 55%;
  }

  @include mq("small", "max-width") {
    width: 100%;
    max-width: 100%;
    margin-top: 65px;
    box-shadow: none;
    background: $colourBackground;
    position: relative;
    z-index: 0;

    h2 {
      display: none;
    }
  }

  a.link-style-five {
    padding-top: 20px;
    display: block;
    float: left;
  }
}

.element-content-box-two-bottom {
  clear: both;
  width: 100%;
  padding-top: 15px;
  display: block;
  height: auto;
  overflow: auto;

  .link-style-three {
    display: block;
    width: 70px;
    float: left;
  }

  @include mq("small", "max-width") {
    padding-top: 15px;

    .link-style-three {
      display: none;
    }
  }
}

.element-content-box-header {
  box-sizing: border-box;
  padding: 12px;
  height: auto;
  overflow: auto;
  border-bottom: 1px solid $colourLines;

  h2 {
    width: 180px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
  }
}

.element-content-box-options {
  position: relative;
  margin: 0;
  width: 100%;
  background: lighten($colourOne, 5%);
  padding: 0;
  height: 60px;

  li {
    position: relative;
    float: left;
    width: 33.3%;
    height: 100%;
    border-right: 1px solid $colourOne;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    cursor: pointer;

    a {
      color: #fff;
      text-align: center;
      width: 100%;
    }

    &:hover {
      background: lighten($colourOne, 6%);
    }
  }

  li.section-active {
    background: lighten($colourOne, 10%);
  }
}

.element-information-title-one {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid $colourLines;
  border-top: 1px solid $colourLines;

  h3 {
    width: 50%;
    float: left;
    color: $colourType;
  }

  i.material-icons {
    float: right;
    color: $colourTypeLight;
  }

}

.element-information-item-one {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  height: auto;
  overflow: auto;

  h3 {
    width: 50%;
    float: left;
  }

  h3.element-span-full, span.element-span-full {
    width: 100%;
  }

  span {
    color: $colourType;
    padding: 20px 0 0 0;
    width: 50%;
    float: left;
    display: block;

    i {
      color: $colourTypeLight;
    }
  }
}

.element-text-box {
  padding: 15px 25px 0 25px;

  p {
    color: $colourType;
  }
}

.element-half {
  float: left;
  @include calc(width, "50% - 11px");

  &:nth-child(even) {
    margin-left: 15px;
  }

  @include mq("super-small", "max-width") {
      width: 100%;

      &:nth-child(even) {
      margin-left: 0;
    }
  }
}

.element-colour-box {
  background: $colourFour;
  padding: 50px;
  min-height: 60px;
  overflow: hidden;
  position: relative;
  @include transition(all, 0.3s, ease-in-out);

  h1 {
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }

  h2 {
    padding-top: 40px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }
}

.element-percentage {
  float: right;
  display: block;
  padding: 7px 0 0 0;
  @include calc(width, "100% - 200px");

  .c100 {
    display: block;
    float: right;
    margin-left: 13px;
  }

  .type-super-small {
    padding: 0;
    margin-top: 13px;
    color: $colourTypeLight;
    display: block;
    float: right;

  }

  @include mq("small", "max-width") {
    width: 100%;

    .type-super-small {
      text-align: left;
      float: left;
    }
  }
}

.element-additional-fields {
  display: none;

  .additional-contact-active & {
    display: block;
  }
}

.element-right-signiture {
  position: absolute;
  overflow: hidden;
  left: 50%;
  margin-left: -353px;
  width: 706px;
  padding: 30px 0;
  display: block;
}

.element-dropdown-section {
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  .element-dropdown-item {
    border-top: 1px solid $colourLines;
    width: 100%;
    padding: 15px 0 10px 0;
    overflow: auto;
    height: auto;
    cursor: pointer;

    h5 {
      float : left;
      @include calc(width, "100% - 60px");
    }

    i.material-icons {
      width: 30px;
      float: right;
      text-align: right;
    }

    &.element-drop-down-item-active {
      border-bottom: none;
    }
  }

  li {
    margin: 0;
    padding: 0;

    &:last-child  .element-dropdown-item {
      border-bottom: 1px solid $colourLines;
    }
  }

  .element-dropdown-sub-list {
    padding: 0 0 15px 0;
    height: auto;
    overflow: auto;
    margin: 0;
  }

  .element-dropdown-sub-item {
    padding: 8px 0;
    cursor: pointer;
  }

  @include mq("small", "max-width") {
    padding: 0;

    .element-dropdown-item {
      padding: 15px 0 20px 0;
    }
  }
}

.element-category-button {
  display: block;
  width: 50%;
  float: left;
  border-bottom: $lines;
  box-sizing: border-box;
  padding: 24px 0 20px 0;
  cursor: pointer;
  border-right: $lines;

  h5 {
    text-align: center;
    color: $colourType;
    font-size: 15px;
    font-family: $mainFontLight;
  }

  &:hover {
    background: $colourTint;
  }

  &.element-category-button-active {
    background: $colourTint;
  }
}

.element-category-slider-holder {
  @include transition(all, 0.3s, ease-in-out);
  position: relative;
  clear: both;
  width: 800px;
  height: 50px;

  .element-category-slider {
    width: 400px;
    float: left;
    height: 300px;
  }

  .element-panel-two {
    position: relative;
  }

  .show-panel-two & {
    margin-left: -400px;
  }
}

.element-category-title {
  padding: 22px 26px 16px 26px;
  height: auto;
  overflow: auto;
  border-bottom: $lines;
  cursor: pointer;

  h5 {
    float: left;
    color: $colourType;
    margin: 0;
    font-size: 15px;
    padding: 0;
    font-family: $mainFontLight;
  }

  i {
    float: right;
    display: block;
    color: $colourOne;
  }
}

.element-category-item {
  display: none;
}

.element-left-pane-title {
  padding: 20px 0 16px 0;
  background: #fff;

  .type-style-heading {
    color: $colourType;
    font-family: $mainFontLight;
    font-size: 1.1em;
    padding-top: 3px;
    margin-left: 40px;
  }

}

.element-category-active {
  display: block;
}

.element-tag {
  display: inline-block;
  background: #fff;
  font-size: 1em;
  padding: 7px 8px 6px 8px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: $boxShadowTwo;
  margin-right: 15px;
  @include border-radius(2px);
  margin-bottom: 20px;

  i {
    font-size: 15px;
    line-height: 0;
    margin-right: 0;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 10px;
    margin-left: 12px;
    color: $colourTypeLight;
  }

  span {
    padding-top: 2px;
    float: left;
    color: $colourType;
  }

  &:hover i {
    color: $colourType;
  }
}