// ==========================================================================
//
// Header
//
//

.header-type-one {
  position: fixed;
  top: 33px;
  width: 100%;
  height: 29px;
  padding: 18px 0;
  background: $colourOne;
  @include transition(all, 0.3s, ease-in-out);

  a.link-icon-dark {
    float: left;
  }

  h1.type-style-heading {
      padding: 0px 0 0 0px;
      font-size: 20px;
      color: #fff;
      clear: none;
      float: left;
  }

  a.link-style-two {
    float: right;
    padding: 95px 64px 0 0;
  }

  .beyond-waypoint & {

  }

  .sidebar-trigger-active & {
    width: 80%;
  }

  @include mq("small", "max-width") {
    width: 100%;
    height: 30px;
    padding: 18px 0;
    border-bottom: 1px solid $colourLines;

    a.link-style-two {
      float: right;
      padding: 7px 0;
    }

    .beyond-waypoint & {
      top: 0;
    }

    h1.type-style-heading {
      clear: none;
      font-family: $mainFontLight;
      font-size: 20px;
      float: left;
      padding: 0px 0 0 10px;

      .beyond-waypoint & {
        padding: 0px 0 0 10px;
      }
    }
  }

   @include mq("super-small", "max-width") {

    .beyond-waypoint & {
      top: 33px;
    }
  }
}

.header-type-two {
  width: 100%;
  padding: 18px 0 0 0;
  position: fixed;
  background: $colourBackground;

  .element-percentage {
    width: 100%;
  }
}

.header-type-three {
  position: fixed;
  top: 33px;
  width: 100%;
  height: 200px;
  padding: 18px 0;
  background: $colourOne;
  @include transition(all, 0.3s, ease-in-out);

  a.link-icon-dark {
    float: left;
  }

  h1.type-style-heading {
      margin-top: 160px;
      padding: 0px 0 0 0px;
      font-size: 24px;
      color: #fff;
      clear: none;
      float: left;
  }

  a.link-style-two {
    float: right;
    padding: 95px 64px 0 0;
  }

  .beyond-waypoint & {

  }

  .sidebar-trigger-active & {
    width: 80%;
  }

  @include mq("small", "max-width") {
    width: 100%;
    height: 30px;
    padding: 18px 0;
    border-bottom: 1px solid $colourLines;

    a.link-style-two {
      float: right;
      padding: 7px 0;
    }

    .beyond-waypoint & {
      top: 0;
    }

    h1.type-style-heading {
      clear: none;
      font-family: $mainFontLight;
      font-size: 20px;
      float: left;
      padding: 0px 0 0 10px;
      margin-top: 0;

      .beyond-waypoint & {
        padding: 0px 0 0 10px;
      }
    }
  }

  @include mq("super-small", "max-width") {

    .beyond-waypoint & {
      top: 33px;
    }
  }
}


.header-type-two {
  position: fixed;
  top: 33px;
  padding: 15px 0 20px 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background: $colourOne;

  h2 {
    padding-left: 25px;
    color: #fff;
  }

  i {
    margin-top: 3px;
    margin-right: 20px;
    float: left;
  }
}